/* uinversal selector it is applied to all the elements of html like div section span  */
*{
  margin:0;
  padding:0;
}
.header{
  min-height:100vh;
  width:100%;
   background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../images/img1.png"); 
   background-position:center; 
  background-size:cover;
   position:relative; 
}
/* this is the parent navigation bar of the website it is an html tag */
.stick{
  top:0;
  position:sticky;
}
nav{
  display:flex;
  padding:2% 6%;  /* padding here defines the padding for elements that would be inserted in future*/
  justify-content:space-between;
  align-items:center;
  /* these 2 lines create fixed navbar
  position:fixed;
  top:0;
  width:100%;
  background-color:rgb(57, 57, 238);*/
}

.nav-image{
  width:150px;
}
/* navlinks is the child of nav  we can see that because here we have given the navlink grow property of 1 */
.navlinks{
   flex:1; 
    text-align:right; 
}
.navlinks ul li{
  list-style:none;
   display:inline-block; 
  padding:8px 12px;
  position:relative;
}
.navbar-brand-link{
  flex:1 0 auto;
  text-align:left;
}
 .navbar-brand-link .nav-brand { 
  display:inline-block;
  padding:8px 12px;
  position:block;

}
.navlinks ul li a,.navbar-brand-link .nav-brand a{
  text-decoration:none;
  color:#fff;
}
/* this code is to add line below the navbar-items displayed */
.navbar-brand-link .nav-brand::after{
  content:'';
  /* this will set the content width to 100 % of the size of the container used for the text */
  width:0% ;
  height:2px;
  background:hotpink;
  display:block;
  margin:auto;
  transition:0.5s;
}
.navlinks ul li::after{
  content:'';
  width:0% ;
  height:2px;
  background:hotpink;
  display:block;
  margin:auto;
  /* this adds transition for the hover effect surrprisingly added to the parent rather than the to the after class */
  transition:0.5s;

}
.navbar-brand-link .nav-brand:hover::after{
width:100%;
}
.navlinks ul li:hover::after{
  width:100%;
}

/* we first make a hero container */
.hero-text{
  width:90%;
  color:#fff;
  position:absolute;
  /* fills 50% of the space from top */
  top:50%; 
  /* fills 50% of the space from left */
  left:50%;
   display:block; 
  /* this tansform will place the element in center of the div 50  */
    transform:translate(-50%,-50%);  
  text-align:center;
}
/* then we create space for the hero heading */
.hero-text h1{
  font-size:60px;
}
/* then we create space for the hero paragraph */
 .hero-text p{
  margin:10px 0px 40px;
 font-size:20px; 
}
.hero-text button{
  margin-top:20px;
  margin-left:50%;
  background-color:transparent;
  padding:3px;
  height:50px;
  width:20%;
  display:block;
  border:1px solid #fff ;
  position:relative;
  transform:translate(-50%,-50%);
  cursor:pointer;
}
div  button a{
  text-decoration:none;
  color:#fff;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.hero-text button:hover{
  background:hotpink; 
}
/* inorder to hide icons using visiblity is better than using display as it is hardly displaying anything when we use 
display */
nav .fa{
  visibility:hidden;
}
/* if the max width is less than or equal to 700px */
@media(max-width:700px){ 
  .hero-text h1{
    font-size:30px;
  }
  .hero-text p{
    font-size:20px;
  }
  .navlinks ul li{
    display:block;
  }
  .navlinks{
    /* using flex here might give the rsult but is not that useful in the long run */
   /* flex-direction:column;
    display:block;
    background:hotpink;
    height:30vh;
    text-align:left;*/
    position:absolute;
    background:hotpink;
    height:30vh;
    width:200px;
    top:0;
    /* this initially hides the menu
    right actually gives distance from the right side of the of viewrscreen height */
    right:-200px;
    text-align:left;
    /* Z index would overlap over the contents of the webpage such that previous contents are not even visible */
    z-index:2;
    transition:0.5s;
  }
  /* this is very important as it stops the body to enter a scrool bar for right=-200 */
  /* if we do not add this we will have a scrollbar along the vw that would take us to -200px */
   html,body{ 
    overflow-x:hidden;
  }
  
nav .fa{
  visibility:visible;
  display:block;
  color:#fff;
  margin:10px;
  /* this for the size of the block */
  font-size:40px;
  cursor:pointer;

}
.navlinks ul{
  padding:10px;
}
}
/* code for header finishes and code for about section starts */

/* about */

.about-heading h1{
   width:50%;
   /* margin auto will align it in the center it automatically calculates the margin width from left and right */
     margin:auto; 
   text-align:center;
    padding-top:50px; 
    padding-bottom:20px;
   text-decoration:underline;
   /* this property will not work if padding from bottom is not given  it will probably hide*/
   text-underline-offset: 10px; 
   text-decoration-color: hotpink;
}
.row{
  margin-top:1%;
  display:flex;
  justify-content:space-between;
  width:100%;
}
.about-col{
  /* specifies initial lenght of the flexible-item */
  flex-basis:50%;
  margin-bottom:5%;
  border-radius:10px;
  margin-bottom:30px;
  text-align:left;
  padding:25px;
  cursor:pointer;
  display:flex;
}
.about-col p{
  display:inline-block;
  padding:30px;
  text-align:left;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  font-size:20px;

}
 .row  img{
  /* her if we want the image to e responsive we add width of the image as 100%
  it will fill the whole flex box and will hence make the image responsive */
  flex-basis:20%;
  width:50%;
  margin-left:10%;
  margin-right:10%;
  height:200px;
  border-radius:1000px;
  /* border:5px solid #000; */
  display:flex;
}
@media(max-width:700px){
  .row img{
    width:100%;
    height:200px;
    margin:auto;
    /* if the width and the margin are 100% fill it fills the whole screen */
  } 
  .row{
    flex-direction:column;
  }
}

/* here about section finishes and projects section starts */

/* projects */
.projects-heading h1{

  padding-top:50px;
  padding-bottom:20px;
  text-decoration:underline;
  text-decoration-color:hotpink;
  width:50%;
  margin:auto;
  text-align:center;
  text-underline-offset: 10px;

}
.project-col{
  margin-left:10px;
  flex-basis:31%;
  background-color:rgb(181, 247, 227);
  /* for curved borders */
  border-radius:10px;
  margin-bottom:3%;
  padding:12px 10px;
  /* ensures that all the boxes are of same length and height */
  box-sizing:border-box;
}
.project-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/* projects col finishes now we add the footer */
/* footer */
.footer{
  width:100%;
  /* it means that any element that enters the footer will be padded like this */
  padding:30px 0px;
  text-align:center;
  background-color:rgb(195, 241, 125);
}
.footer p{
  padding:10px;
}
.resume-btn{
 display:flex;
 justify-content:center;
 align-items: center;

}
.resume-btn .center{
  display:inline-block;
  text-align:center;
  font-size:20px;
  border:1px solid #000; 
}

.resume-btn a{
  text-decoration:none;
  color:rgb(243, 93, 93);
}
.icons{
  font-size:30px;
  padding:20px;
  margin:0 13px;
  color:rgb(243, 93, 93);
}
.icons a:visited{
  color:rgb(243, 93, 93);
}
.icons a:hover{
  color:rgb(243, 93, 93);
}
.icons a:active{
  color:rgb(243, 93, 93);
}
.up-btn{
  display:inline-block;
  width:50px;
  border:1px solid #000;
  position:fixed;
  bottom:5px;
  right:0;
  height:20px;
  border-radius:1000px;
  background:#000;
}
.up-btn a{
text-decoration:none;
color:rgb(243, 93, 93);
}
